<div id="loader"><img src="//ploader.ru/vkapp/sender/images/loading.png" alt="" width="600" height="400" border="0" /></div>

<div id="operator"></div>
<div id="wrapper">
    <div id="headers">
    </div>
<div id="sidebarRight">
    <div style="height:3%;"></div>
    <div id="block_users" style="display: none;">
        <div id="name_block">Список пользователей</div>
        <div id="sidebar_content">
        <div id="sidebar_content_pr">
            <form action="" method="post" name="userlist" autocomplete="off">
                <div class="bot" style="width:98%; height: 115px; overflow: auto;">
                    <div id="user_list"><p><img src='//vk.com/images/upload.gif'/></p></div>
                </div>
            </form>
        </div></div>
	</div>
    
    <div id="search_user" style="display: none;">
        <div id="name_block">Поиск пользователя</div>
            <div id="sidebar_content">
                <div id="sidebar_content_pr">
                    <table border="0" width="100%">
                            <tbody><tr>
                                <td>
                                    <input class="form-control" id="search_uid_user_" style="width:98%;" placeholder="Ссылка на страницу пользователя vk">
                                </td>
                                <td width="2%" align="center">
                                    <button type="button" class="btn btn-primary" id="search_user_" onclick="javascript:search_user();"><span class="glyphicon glyphicon-search"></span> Поиск</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <form action="" method="post" name="search_userlist" autocomplete="off">
                        <div class="bot" style="width:98%; height: 80px; overflow: auto;">
                            <div id="search_user_list"></div>
                        </div>
                    </form>
                </div>
            </div>
    </div>
    
    <div id="today_action_list" style="display: none;">
        <div id="name_block">Спиок действий</div>
            <div id="sidebar_content">
                <div id="sidebar_content_pr">
                    
                </div>
            </div>
    </div>
</div>

<!-- Добавить приложение -->
<script type="text/html" id="tmplAddNewApp">
<form role="form" id="formAppAdd">
	<input type="hidden" name="id" id="inputAppId" value="">
	<div class="form-group">
		<label for="title_app">Название приложения <small style="color:red;">(обязательно)</small></label>
        <input type="text" name="title_app" id="title_app" class="form-control" placeholder="Название" maxlength="50">
    </div>
    <div class="form-group">
    	<label for="id_app">ID приложения VK <small style="color:red;">(обязательно)</small></label>
        <input type="text" name="id_app" id="id_app" class="form-control" placeholder="ID приложения" maxlength="10">
    </div>
    <div class="form-group">
    	<label for="key_app">Защищенный ключ <small style="color:red;">(обязательно)</small> <small style="color:green;">Будет использован только для отправки <b>Уведомлений</b></small></label>
        <input type="text" name="key_app" id="key_app" class="form-control" placeholder="Защищенный ключ">
    </div>
    <button type="button" class="btn btn-primary" id="add_remote_control" onclick="javascript:AddNewApp();">Добавить приложение</button>
</form>
</script>
<!-- Добавить приложение -->

<!-- Настройки приложения -->
<script type="text/html" id="tmplSettingsApp">
<form role="form" id="formSettingsApp">
	<input type="hidden" name="id" id="AppId_settings" value="<%- id %>">
    <div class="form-group">
    	<label for="app_title_">Название приложения <small style="color:red;">(обязательно)</small></label>
        <input type="text" name="app_title_" id="app_title_" value="<%- app_title_ %>" class="form-control" placeholder="Название" maxlength="50">
    </div>
    <div class="form-group">
    	<label for="app_id">ID приложения VK <small style="color:red;">(обязательно)</small></label>
        <input type="text" name="app_id" id="app_id" value="<%- app_id %>" class="form-control" placeholder="ID приложения" maxlength="10">
    </div>
    <div class="form-group">
    	<label for="app_secret_key">Защищенный ключ <small style="color:red;">(обязательно)</small> <small style="color:green;">Будет использован только для отправки <b>Уведомлений</b></small></label>
        <input type="text" name="app_secret_key" id="app_secret_key" value="<%- app_secret_key %>" class="form-control" placeholder="Защищенный ключ">
    </div>
    <hr/>
    <button type="button" class="btn btn-success" id="sharing_app_" onclick="app.showDialog('Общий Доступ',app.getTemplate('Sharing'),buttons_sharing_app);setTimeout(function() { Sharing(); }, 500);">Общий Доступ</button>
    <button type="button" class="btn btn-info" id="" style="" onclick="javascript:app.showDialog('Автоматическая отправка уведомлений',app.getTemplate('AutoSendMessage'),buttons_sharing_app);setTimeout(function() { autosendmessage(); }, 500);">Автоматическая отправка уведомлений</button>
    <button type="button" class="btn btn-success" id="export_" onclick="javascript:app.showDialog('Экспорт',app.getTemplate('Export'),buttons_export);Export();;">Экспорт</button>
    <button type="button" class="btn btn-success" id="export_" onclick="javascript:app.showDialog('Импорт',app.getTemplate('Import'),buttons_export);Import();;">Импорт</button>
    <hr/>
    <p><button type="button" class="btn btn-primary" id="save_app" onclick="javascript:SetInfo();;">Сохранить</button></p>
    
</form>
</script>
<!-- Настройки приложения -->
    
<!-- Код для вставки -->
<script type="text/html" id="tmplCodeAddApp">
              <form role="form" id="formAppCode">
                  <label>Этот код нужен для того чтобы регистрировать посещения приложения, и потом отправлять пользователям 'Уведомления'.</label>
                  <p><a href="//ploader.ru/vkapp/sender/js/main.js" target="_blank">Скачать JavaScript код</a></p>
                  <p><a href="//yadi.sk/d/YB9chlLXNCPFa" target="_blank">Скачать AS3 код для Flash</a></p>
              </form>
</script>
<!-- Код для вставки -->
    
<!-- VIP -->
<script type="text/html" id="tmplVIP">
<li>Автоматическая отправка уведомлений, с указанием времени и заранее написанным текстом.</li>
<li>Экспорт и Импорт пользователей.</li>
<li>Отправка уведомлений > 100 пользователям.</li>
<li>Возможность удаления своего приложения из системы "Отправка Уведомлений".</li>
<li>Убирается лимит на добавление приложений, в данный момент лимитом является 3 приложения.</li>
</script>
<!-- VIP -->
    
<!-- Общий доступ -->
<script type="text/html" id="tmplSharing">
<p>
	<table border="0" width="100%">
        <tr>
            <td>
                <input class="form-control" id="uid_user_remote_control" style="width:100%;" placeholder="Для добавления введите ссылку на страницу пользователя vk" disabled="disabled" />
            </td>
            <td width="12%" align="center">
                <button type="button" class="btn btn-primary" id="add_remote_control" onclick="javascript:add_Sharing_Remote_Control();" disabled="disabled">Добавить администратора</button>
            </td>
        </tr>
    </table>
    </p>
<div class="bot" style="width:98%; height: 350px; overflow: auto;">
<table width="100%" class="CSSTableGenerator" id="sharing_user">
<tr>
    <td>Список пользователей</td>
</tr>
</table>
</div>
</script>
<!-- Общий доступ -->

<!-- Информация о уведомлении -->
<script type="text/html" id="tmplInfoSenderSelect">
<label>Уведомление отправлено следующим пользователям: за <span id="time_send_"></span></label>
<div class="bot" style="width:98%; height: 200px; overflow: auto;">
	<table class="table table-hover" id="info_send_user_list" width="100%">
    </table>
</div>
<p><center><div class="paginator_sender"></div></center></p>
</script>
<!-- Информация о уведомлении -->

<!-- Информация о посещениях пользователя -->
<script type="text/html" id="tmplInfoUserLogSelect">
<label>Список посещений пользователя:</label>

	<table class="table table-hover" id="info_user_logs_list" width="100%">
    </table>

<p><center><div class="paginator_user_logs"></div></center></p>
</script>
<!-- Информация о посещениях пользователя -->

<!-- Экспорт -->
<script type="text/html" id="tmplExport">
<p>Экспорт данных</p>
<button type="button" class="btn btn-primary" id="add_app" onclick="javascript:Export_Add();;">Выполнить</button>
<p>
<table class="table table-hover" id="export_list">
      <thead>
        <tr>
          <th>#</th>
          <th>Дата/Время</th>
          <th>Выполнено</th>
          <th>Статус</th>
          <th></th>
        </tr>
      </thead>
</table>
</p>
<p><a href="#" onclick="javacript:Export();;"><img align="right" src="//ploader.ru/vkapp/sender/images/file1336772549.png" width="24" height="24" /></a></p>
</script>
<!-- Экспорт -->

<!-- Импорт -->
<script type="text/html" id="tmplImport">
Скоро
<p><a href="#" onclick="javacript:Import();;"><img align="right" src="//ploader.ru/vkapp/sender/images/file1336772549.png" width="24" height="24" /></a></p>
</script>
<!-- Импорт -->

<!-- Выбираем кому отправить уведомление -->
<script type="text/html" id="tmplSelectSendUser">
    <ul id="myTab" class="nav nav-tabs">
          <li class="active"><a href="#all_except" data-toggle="tab">Отправить всем кроме</a></li>
          <li class=""><a href="#send_only" data-toggle="tab">Отправить только выбранным</a></li>
        </ul>
    <p></p>
    
    <p><span id="load_user"></span></p>
    <div id="myTabContent" class="tab-content">
    	<div class="tab-pane fade active in" id="all_except">
            <select multiple="" name="e9" id="e9" style="width:500px" class="populate select2-offscreen" tabindex="-1"></select>
    	</div>
        
    	<div class="tab-pane fade" id="send_only">
        	<select multiple="" name="e10" id="e10" style="width:500px" class="populate select2-offscreen" tabindex="-1"></select>
    	</div>
    </div>
</script>
<!-- Выбираем кому отправить уведомление -->

<!-- Автоматическая отправка уведомлений -->
<script type="text/html" id="tmplAutoSendMessage">
<p>
<table width="98%" border="0">
	<tr>
		<td>Сообщение:</td>
        <td>
        	<textarea name="message_auto_sender" id="message_auto_sender" cols="50" rows="5" wrap="virtual" maxlength="253" style="resize: none;"></textarea>
   	 	</td>
    </tr>
    <tr>
    	<td>Дата/Время:</td>
        <td><input type="text" value="" id="datetimepicker" placeholder="Дата/Время"/></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="sender_auto_message" name="sender_auto_message" type="button" class="btn btn-primary" onclick="javascript:autoaddaction();">Добавить задание</button> <span>Осталось символов: <span id="message_auto_length">253</span></span>
        </td>
    </tr>
</table>
</p>
<p>
<table class="table table-hover" id="autosend_list_active">
      <thead>
        <tr>
          <th>#</th>
          <th width="20%">Сообщение</th>
          <th>Дата/Время старта</th>
          <th>Выполнено</th>
          <th>Статус</th>
        </tr>
      </thead>
</table>
</p>
<p><a href="#" onclick="javacript:autosendmessage();;"><img align="right" src="//ploader.ru/vkapp/sender/images/file1336772549.png" width="24" height="24" /></a></p>
</script>
<!-- Автоматическая отправка уведомлений -->
    
    <p id="open_app_" style="display: none;"></p>
    <p>
        <span id="loading_list_app"></span>
        <select id="apps">
        </select>
    	<button type="button" class="btn btn-primary" id="add_app" onclick="javascript:reset_data('addnewapp');">Добавить приложение</button>
        <button type="button" class="btn btn-primary" id="settings_app_" style="display: none;" onclick="javascript:GetInfo($('#apps').val());;">Настройки</button>
        <button type="button" class="btn btn-primary" id="code_add_your_app_" style="display: none;">Код для вставки</button>
    </p>
    
    <!---- Главная --->    
    <div id="added_app_not_function" style="display: none;">
        <div id="content">
            <div id="name_news"></div>
            <div id="news_small">
                <div style="margin-left: 7px;">
                    <br/>
                    <table id="send_list_app" width="100%" border="0">
                        <tr>
                            <td>
                                <b style="color:red;">Полный функционал приложения доступен только для тех кто добавил своё приложение или у кого есть общий доступ к приложению.</b>
                            </td>
                        </tr>
                    </table>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    
    <div id="big_loading"><center><img src="//loader.pdata.ru//img/loading.gif" /></center></div>
    
    <!---- Статистика --->
    
    <div id="static_app" style="display: none;">
        <div id="content">
            <div id="name_news">Статистика</div>
            <div id="news_small">
                <div style="margin-left: 7px;">
                    <br/>
                    <table class="CSSTableGenerator" width="100%" border="1">
                        <tr>
                            <td>Сегодня Доступно Уведомлений</td>
                            <td>Статус следующей отправки</td>
                            <td>Всего пользователей</td>
                        </tr>
                        <tr>
                            <td><span id="send_count_"><p><img src='//vk.com/images/upload.gif'/></p></span></td>
                            <td><span id="send_time_last"><p><img src='//vk.com/images/upload.gif'/></p></span></td>
                            <td><span id="count_users_all"><p><img src='//vk.com/images/upload.gif'/></p></span></td>
                        </tr>
                    </table>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    
    <!---- Статистика --->
    
    <!---- Главная --->
    
    <div id="info_app" style="display: none;">
        <div id="content">
            <div id="name_news">Отправка уведомления</div>
            <div id="news_small">
                <div style="margin-left: 7px;">
                    <br/>
                    <center><span id="sender_status_" style="text-align:center;"></span></center>
                    
                    <table width="98%" border="0">
                        <tr>
                            <td>
                                Сообщение:
                            </td>
                            <td>
                                <p><button id="sender_uids_select" name="sender_uids_select" type="button" class="btn btn-success" onclick="javascript:;">Выбрать кому отправить</button></p>
                                <textarea name="message_sender" id="message_sender" cols="60" rows="5" wrap="virtual" maxlength="253" style="resize: none;"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button id="sender_message" name="sender_message" type="button" class="btn btn-primary" onclick="javascript:sender_send();"><span class="glyphicon glyphicon-envelope"></span> Отправить</button>
                                <span>Осталось символов: <span id="message_length"></span></span>
                            </td>
                        </tr>
                    </table>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    
    <!---- Список отправленных уведомлений --->
    <div id="info_send_list" style="display: none;">
        <div id="content">
            <div id="name_news">Список отправленных уведомлений</div>
            <div id="news_small">
                <div style="margin-left: 7px;">
                    <br/>
                    <table class="CSSTableGenerator" width="100%" border="1">
                        <tr><td colspan="4"><center>Топ 3 Отправленных Уведомления</center></td></tr>
                    </table>
                    <table class="CSSTableGenerator" id="send_list_app_" width="100%" border="1">
                    </table>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    <!---- Список отправленных уведомлений --->
    
    <!---- Список посещений --->
    <div id="info_visits_list" style="display: none;">
        <div id="content">
            <div id="name_news">Список посещений</div>
            <div id="news_small">
                <div style="margin-left: 7px;">
                    <br/>
                    <div class="bot" style="width:98%; height: 150px; overflow: auto;">
                        <table class="CSSTableGenerator" id="send_visits_app_" width="100%" border="1">
                        </table>
                    </div>
                    <br/>
                </div>
                
                <center><div class="paginator"></div></center>
            </div>
        </div>
    </div>
    <!---- Список посещений --->
    
    <div class="clear"></div>
    <div id="footer" style="color:black;">
        <table border=0 width="100%" style="color:black;">
            <tr>
                <td align="left">
                    <a href="//github.com/KyKyIIIKuH/Send-Notification-VK-APP" target="_blank"><img src="//assets-cdn.github.com/favicon.ico" /></a>
                    
                    <a target="_blank" href='//host-tracker.com/ru/website-monitoring-statistics/9952629/lvuc/'><img
                    width='80' height='15' border='0' alt='службы мониторинга серверов' rel='nofollow'
                    src="//ext.host-tracker.com/uptime-img/?s=15&amp;t=9952629&amp;m=00.09&amp;p=Total&amp;src=lvuc" /></a>
                </td>
                <td align="right">Отправка Уведомлений <p> <a href="//vk.com/kykyiiikuh" target="_blank">Базаров  Денис</a> © 2014</p></td>
            </tr>
        </table>
    </div>
</div>