<div id="loader"><img src="//ploader.ru/vkapp/sender/images/loading.png" alt="" width="600" height="400" border="0" /></div>
<div class="loader_content"><img src="//ploader.ru/vkapp/group_user_watch/images/loader.gif" alt="" width="100" height="100" border="0" /></div>

<div id="operator"></div>
<div id="wrapper">
    <div id="headers">
    </div>
<div id="sidebarRight">
    <div style="height:3%;"></div>
    
    <br/><br/>
    <div id="search_user" style="display: none;">
        <div id="name_block">Поиск пользователя</div>
            <div id="sidebar_content">
                <div id="sidebar_content_pr">
                    <table border="0" width="100%">
                            <tbody><tr>
                                <td>
                                    <input class="form-control" id="search_uid_user_" style="width:98%;" placeholder="Ссылка на страницу пользователя vk">
                                </td>
                                <td width="2%" align="center">
                                    <button type="button" class="btn btn-primary" id="search_user_" onclick="javascript:search_user();"><span class="glyphicon glyphicon-search"></span> Поиск</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <form action="" method="post" name="search_userlist" autocomplete="off">
                        <div class="bot" style="width:98%; height: 80px; overflow: auto;">
                            <div id="search_user_list"></div>
                        </div>
                    </form>
                </div>
            </div>
    </div>
    
    <div id="today_action_list" style="display: none;">
        <div id="name_block">Спиок действий</div>
            <div id="sidebar_content">
                <div id="sidebar_content_pr">
                    
                </div>
            </div>
    </div>
</div>

<!-- Временные зоны -->
<script type="text/html" id="tmplTimeZone">
<p>Ваша временная зона: <span id="your_timezone"></span></p>
<p>Время: <span id="timezone_time"></span></p>
Список временных зон: <select id="tist_timezone" style="width:500px" class="populate placeholder select2-offscreen" tabindex="-1" title="Placeholders">
</script>
<!-- Временные зоны -->

<!-- Тэги -->
<script type="text/html" id="tmplSendTags">
<b>Тэги для работы с датами:</b><br/>
<b>{Y}</b> - год<br/>
<b>{m}</b> - месяц<br/>
<b>{d}</b> - день<br/>
<p></p>

<b>{d+1}</b> - прибавить +1 день к сегодняшнему дню (например сегодня 1 число, после использования этого тэга число будет ровняться двум)
<br/>
<b>{d+2}</b> - прибавить +2 дня к сегодняшнему дню (например сегодня 1 число, после использования этого тэга число будет ровняться трём)
и.т.д
<p></p>

<b>Пример использования:</b><br/>
Привет, Сегодня {Y}-{m}-{d}<br/>
Год: {Y}<br/>
Месяц: {m}<br/>
День: {d}<br/>
Завтра будет : {d+1} число<br/>
После завтра {d+2} число<br/>
После после завтра {d+3}<br/>
<p></p>
<b>Как это будет выглядеть после использования:</b><br/>
Привет, Сегодня 2014-08-01<br/>
Год: 2014<br/>
Месяц: 08<br/>
День: 01<br/>
Завтра будет : 02 число<br/>
После завтра 03 число<br/>
После после завтра 04<br/>

<p></p>
=======================================<br/>
<b>{Yplus}</b> - Год зависит от значения <b>{d+}</b><br/>
<b>{mplus}</b> - Месяц зависит от значения <b>{d+}</b><br/>
тэги <b>{Yplus}</b> и <b>{mplus}</b> рекомендуется использовать вместе с тэгом <b>{d+}</b><br/>

<p></p>
<b>Пример использования:</b><br/>
Привет,Сегодня {Y}-{m}-{d}<br/>
через 60 дней будет : {Yplus}-{d+60}-{mplus}<br/>
<p></p>
<b>Как это будет выглядеть после использования:</b><br/>
Привет, Сегодня 2014-08-01<br/>
через 60 дней будет : 2014-30-09<br/>

<p></p>
=======================================<br/>

<b>{H+1}</b> - прибавляет +1 час к текущему часу (например если сейчас 20 часов, этот тэг прибавляет +1 час, итого будет 21 час)<br/>

<b>{H+2}</b> - прибавляет +1 час к текущему часу (например если сейчас 20 часов, этот тэг прибавляет +2 часа, итого будет 22 часа)<br/>
и.т.д

<p></p>

<b>{Yplush}</b> - Год зависит от значения <b>{H+}</b><br/>
<b>{mplush}</b> - Месяц зависит от значения <b>{H+}</b><br/>
<b>{dplush}</b> - День зависит от значения <b>{H+}</b><br/>

<p></p>
тэги <b>{Yplush}</b>, <b>{mplush}</b> и <b>{dplush}</b> рекомендуется использовать вместе с тэгом <b>{H+}</b><br/>

<p></p>
<b>Пример использования:</b><br/>
Сейчас: {Y}-{m}-{d} {H}:{i}:{s}<br/>
Изменённое время: {Yplush}-{mplush}-{dplush} {H+3}:{i}:{s}<br/>

<p></p>
<b>Как это будет выглядеть после использования:</b><br/>
Сейчас: 2014-08-01 23:02:45<br/>
Изменённое время: 2014-08-02 02:02:45<br/>
</script>
<!-- Тэги -->

<!-- Добавить приложение -->
<script type="text/html" id="tmplAddNewApp">
<form role="form" id="formAppAdd">
	<input type="hidden" name="id" id="inputAppId" value="">
	<div class="form-group">
		<label for="title_app">Название приложения <small style="color:red;">(обязательно)</small></label>
        <input type="text" name="title_app" id="title_app" class="form-control" placeholder="Название" maxlength="50">
    </div>
    <div class="form-group">
    	<label for="id_app">ID приложения VK <small style="color:red;">(обязательно)</small></label>
        <input type="text" name="id_app" id="id_app" class="form-control" placeholder="ID приложения" maxlength="10">
    </div>
    <div class="form-group">
    	<label for="key_app">Защищенный ключ <small style="color:red;">(обязательно)</small> <small style="color:green;">Будет использован только для отправки <b>Уведомлений</b></small></label>
        <input type="text" name="key_app" id="key_app" class="form-control" placeholder="Защищенный ключ">
    </div>
    <button type="button" class="btn btn-primary" id="add_remote_control" onclick="javascript:AddNewApp();">Добавить приложение</button>
</form>
</script>
<!-- Добавить приложение -->

<!-- Настройки приложения -->
<script type="text/html" id="tmplSettingsApp">
<form role="form" id="formSettingsApp">
<div class="loader_content"><img src="//ploader.ru/vkapp/group_user_watch/images/loader.gif" alt="" width="100" height="100" border="0" /></div>
	<input type="hidden" name="id" id="AppId_settings" value="<%- id %>">
    <div class="form-group">
    	<label for="app_title_">Название приложения <small style="color:red;">(обязательно)</small></label>
        <input type="text" name="app_title_" id="app_title_" value="<%- app_title_ %>" class="form-control" placeholder="Название" maxlength="50">
    </div>
    <div class="form-group">
    	<label for="app_id">ID приложения VK <small style="color:red;">(обязательно)</small></label>
        <input type="text" name="app_id" id="app_id" value="<%- app_id %>" class="form-control" placeholder="ID приложения" maxlength="10">
    </div>
    <div class="form-group">
    	<label for="app_secret_key">Защищенный ключ <small style="color:red;">(обязательно)</small> <small style="color:green;">Будет использован только для отправки <b>Уведомлений</b></small></label>
        <input type="text" name="app_secret_key" id="app_secret_key" value="<%- app_secret_key %>" class="form-control" placeholder="Защищенный ключ">
    </div>
    <hr/>
    <button type="button" class="btn btn-success" id="sharing_app_" onclick="app.showDialog('Общий Доступ',app.getTemplate('Sharing'),buttons_sharing_app);setTimeout(function() { Sharing(); }, 500);">Общий Доступ</button>
    <button type="button" class="btn btn-info" id="" style="" onclick="javascript:app.showDialog('Автоматическая отправка уведомлений',app.getTemplate('AutoSendMessage'),buttons_sharing_app);setTimeout(function() { autosendmessage(); }, 500);">Автоматическая отправка уведомлений</button>
    <button type="button" class="btn btn-success" id="export_" onclick="javascript:app.showDialog('Экспорт',app.getTemplate('Export'),buttons_export);Export();;">Экспорт</button>
    <button type="button" class="btn btn-success" id="export_" onclick="javascript:app.showDialog('Импорт',app.getTemplate('Import'),buttons_export);Import();;">Импорт</button>
    <hr/>
    <p><button type="button" class="btn btn-primary" id="save_app" onclick="javascript:SetInfo();;">Сохранить</button></p>
    
</form>
</script>
<!-- Настройки приложения -->
    
<!-- Код для вставки -->
<script type="text/html" id="tmplCodeAddApp">
              <form role="form" id="formAppCode">
                  <label>Этот код нужен для того чтобы регистрировать посещения приложения, и потом отправлять пользователям 'Уведомления'.</label>
                  <p><a href="//ploader.ru/vkapp/sender/js/main.js" target="_blank">Скачать JavaScript код</a></p>
                  <p><a href="//yadi.sk/d/YB9chlLXNCPFa" target="_blank">Скачать AS3 код для Flash</a></p>
              </form>
</script>
<!-- Код для вставки -->
    
<!-- Общий доступ -->
<script type="text/html" id="tmplSharing">
<p>
	<table border="0" width="100%">
        <tr>
            <td>
                <input class="form-control" id="uid_user_remote_control" style="width:100%;" placeholder="Для добавления введите ссылку на страницу пользователя vk" disabled="disabled" />
            </td>
            <td width="12%" align="center">
                <button type="button" class="btn btn-primary" id="add_remote_control" onclick="javascript:add_Sharing_Remote_Control();" disabled="disabled">Добавить администратора</button>
            </td>
        </tr>
    </table>
    </p>
<div class="bot" style="width:98%; height: 350px; overflow: auto;">
<table width="100%" class="CSSTableGenerator" id="sharing_user">
<tr>
    <td>Список пользователей</td>
</tr>
</table>
</div>
</script>
<!-- Общий доступ -->

<!-- Информация о уведомлении -->
<script type="text/html" id="tmplInfoSenderSelect">
<label>Уведомление отправлено следующим пользователям: за <span id="time_send_"></span></label>
<div class="bot" style="width:98%; height: 200px; overflow: auto;">
	<table class="table table-hover" id="info_send_user_list" width="100%">
    </table>
</div>
<p><center><div class="paginator_sender"></div></center></p>
</script>
<!-- Информация о уведомлении -->

<!-- Информация о посещениях пользователя -->
<script type="text/html" id="tmplInfoUserLogSelect">
<label>Список посещений пользователя:</label>

	<table class="table table-hover" id="info_user_logs_list" width="100%">
    </table>

<p><center><div class="paginator_user_logs"></div></center></p>
</script>
<!-- Информация о посещениях пользователя -->

<!-- Экспорт -->
<script type="text/html" id="tmplExport">
<p>Экспорт данных</p>
<button type="button" class="btn btn-primary" id="add_app" onclick="javascript:Export_Add();;">Выполнить</button>
<p>
<table class="table table-hover" id="export_list">
      <thead>
        <tr>
          <th>#</th>
          <th>Дата/Время</th>
          <th>Выполнено</th>
          <th>Статус</th>
          <th></th>
        </tr>
      </thead>
</table>
</p>
<p><a href="#" onclick="javacript:Export();;"><img align="right" src="//ploader.ru/vkapp/sender/images/file1336772549.png" width="24" height="24" rel="tooltip" data-toggle="tooltip" data-placement="left" title="Обновить"/></a></p>
</script>
<!-- Экспорт -->

<!-- Импорт -->
<script type="text/html" id="tmplImport">
Скоро
<p><a href="#" onclick="javacript:Import();;"><img align="right" src="//ploader.ru/vkapp/sender/images/file1336772549.png" width="24" height="24" /></a></p>
</script>
<!-- Импорт -->

<!-- Выбираем кому отправить уведомление -->
<script type="text/html" id="tmplSelectSendUser">
    <ul id="myTab" class="nav nav-tabs">
          <li class="active"><a href="#all_except" data-toggle="tab">Отправить всем кроме</a></li>
          <li class=""><a href="#send_only" data-toggle="tab">Отправить только выбранным</a></li>
        </ul>
    <p></p>
    
    <p><span id="load_user"><img src='//vk.com/images/upload.gif'/></span></p>
    <div id="myTabContent" class="tab-content">
    	<div class="tab-pane fade active in" id="all_except">
            <select multiple="" name="e9" id="e9" style="width:500px" class="populate select2-offscreen" tabindex="-1"></select>
            <select multiple="" name="e9_auto" id="e9_auto" style="width:500px" class="populate select2-offscreen" tabindex="-1"></select>
    	</div>
        
    	<div class="tab-pane fade" id="send_only">
        	<select multiple="" name="e10" id="e10" style="width:500px" class="populate select2-offscreen" tabindex="-1"></select>
            <select multiple="" name="e10_auto" id="e10_auto" style="width:500px" class="populate select2-offscreen" tabindex="-1"></select>
    	</div>
    </div>
</script>
<!-- Выбираем кому отправить уведомление -->

<!-- Автоматическая отправка уведомлений -->
<script type="text/html" id="tmplAutoSendMessage">
<p>
<table width="98%" border="0">
	<tr>
		<td>Сообщение:</td>
        <td>
        	<textarea name="message_auto_sender" id="message_auto_sender" cols="50" rows="5" wrap="virtual" maxlength="253" style="resize: none;"></textarea>
   	 	</td>
    </tr>
    <tr><td>&nbsp;</td><td colspan="10"><span>Осталось символов: <span id="message_auto_length">253</span></span></td></tr>
    <tr>
    	<td>Дата/Время:</td>
        <td><input type="text" value="" id="datetimepicker" placeholder="Дата/Время" readonly="readonly"/></td>
    </tr>
    <tr><td colspan="10">&nbsp;</td></tr>
    <tr>
    	<td colspan="10">
        	<button id="sender_auto_uids_select" name="sender_auto_uids_select" type="button" class="btn btn-success" onclick="javascript:;">Выбрать кому отправить</button>
            <div id="sender_auto_status_">В данный момент уведомление будет отправлено всем пользователям!</div>
    </td>
    </tr>
    <tr><td colspan="10">&nbsp;</td></tr>
    <tr>
        <td colspan="10">
            <button id="sender_auto_message" name="sender_auto_message" type="button" class="btn btn-primary" onclick="javascript:autoaddaction();">Добавить задание</button>
        </td>
    </tr>
</table>
</p>
<p>
<table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th align="center">Сообщение</th>
          <th align="center">Дата/Время старта</th>
          <th align="center">Выполнено</th>
          <th align="center">Статус</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="autosend_list_active">
    </tbody>
</table>
</p>
<p><a href="#" onclick="javacript:autosendmessage();;"><img align="right" src="//ploader.ru/vkapp/sender/images/file1336772549.png" width="24" height="24" rel="tooltip" data-toggle="tooltip" data-placement="left" title="Обновить"/></a></p>
</script>
<!-- Автоматическая отправка уведомлений -->
    
    <p><span id="open_app_" style="display: none;"></span> 
	<button type="button" class="btn btn-primary" id="timezone_change" onclick="javascript:;" style="display: none;">Изменить временную зону</button></p>
	
    <p>
        <span id="loading_list_app"></span>
        <select id="apps">
        </select>
    	<button type="button" class="btn btn-primary" id="add_app" onclick="javascript:reset_data('addnewapp');">Добавить приложение</button>
        <button type="button" class="btn btn-primary" id="settings_app_" style="display: none;" onclick="javascript:GetInfo($('#apps').val());;">Настройки</button>
        <button type="button" class="btn btn-primary" id="code_add_your_app_" style="display: none;">Код для вставки</button>
    </p>
    
    <!---- Главная --->    
    <div id="added_app_not_function" style="display: none;">
        <div id="content">
            <div id="name_news"></div>
            <div id="news_small">
                <div style="margin-left: 7px;">
                    <br/>
                    <table id="send_list_app" width="100%" border="0">
                        <tr>
                            <td>
                                <b style="color:red;">Полный функционал приложения доступен только для тех кто добавил своё приложение или у кого есть общий доступ к приложению.</b>
                            </td>
                        </tr>
                    </table>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    
    <div id="big_loading"><center><img src="//loader.pdata.ru//img/loading.gif" /></center></div>
    
    <!---- Статистика --->
    
    <div id="static_app" style="display: none;">
        <div id="content">
            <div id="name_news">Статистика</div>
            <div id="news_small">
                <div style="margin-left: 7px;">
                    <br/>
                    <table class="CSSTableGenerator" width="100%" border="1">
                        <tr>
                            <td>Сегодня Доступно Уведомлений</td>
                            <td>Статус следующей отправки</td>
                            <td>Всего пользователей</td>
                        </tr>
                        <tr>
                            <td><span id="send_count_"><p><img src='//vk.com/images/upload.gif'/></p></span></td>
                            <td><span id="send_time_last"><p><img src='//vk.com/images/upload.gif'/></p></span></td>
                            <td><span id="count_users_all"><p><img src='//vk.com/images/upload.gif'/></p></span></td>
                        </tr>
                    </table>
                    <br/>
                    <table class="CSSTableGenerator" width="100%" border="1">
                        <tr>
                            <td style="text-align:center;">Кол-во Стран посетивших приложение</td>
                            <td style="text-align:center;">Список посетивших Стран</td>
                        </tr>
                        <tr>
                            <td style="text-align:center;"><span id="coutry_count"><p><img src='//vk.com/images/upload.gif'/></p></span></td>
                            <td style="text-align:center;"><img onclick="javascript:get_country_app();;" style="cursor: pointer;" src="https://ploader.ru/vkapp/sender/images/app_info.png" width="24" height="24"/></td>
                        </tr>
                    </table>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    
    <!---- Статистика --->
    
    <!---- Главная --->
    
    <div id="info_app" style="display: none;">
        <div id="content">
            <div id="name_news">Отправка уведомления</div>
            <div id="news_small">
                <div style="margin-left: 7px;">
                    <br/>
                    <center><span id="sender_status_" style="text-align:center;"></span></center>
                    
                    <table width="98%" border="0">
                        <tr>
                            <td>
                                Сообщение:
                                <img id="info_tags" style="cursor: pointer;" src="//ploader.ru/vkapp/sender/images/FAQ.png" width="24" height="24" rel="tooltip" data-toggle="tooltip" data-placement="right" title="Информация о тэгах">
                            </td>
                            <td>
                                <p><button id="sender_uids_select" name="sender_uids_select" type="button" class="btn btn-success" onclick="javascript:;">Выбрать кому отправить</button></p>
                                <textarea name="message_sender" id="message_sender" cols="60" rows="5" wrap="virtual" maxlength="253" style="resize: none;"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button id="sender_message" name="sender_message" type="button" class="btn btn-primary" onclick="javascript:sender_send();"><span class="glyphicon glyphicon-envelope"></span> Отправить</button>
                                <span>Осталось символов: <span id="message_length"></span></span>
                            </td>
                        </tr>
                    </table>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    
    <!---- Список отправленных уведомлений --->
    <div id="info_send_list" style="display: none;">
        <div id="content">
            <div id="name_news">Список отправленных уведомлений</div>
            <div id="news_small">
                <div style="margin-left: 7px;">
                    <br/>
                    <table class="CSSTableGenerator" width="100%" border="1">
                        <tr><td colspan="4"><center>Топ 3 Отправленных Уведомления</center></td></tr>
                    </table>
                    <table class="CSSTableGenerator" id="send_list_app_" width="100%" border="1">
                    </table>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    <!---- Список отправленных уведомлений --->
    
    <!---- Список посещений --->
    <div id="info_visits_list" style="display: none;">
        <div id="content">
            <div id="name_news">Список посещений</div>
            <div id="news_small">
                <div style="margin-left: 7px;">
                    <br/>
                    <div class="bot" style="width:98%; height: 150px; overflow: auto;">                        
                        <table class="CSSTableGenerator" width="100%" border="1">
                            <tbody id="send_visits_app_">
                            </tbody>
                        </table>
                        
                    </div>
                    <br/>
                </div>
                
                <center><div class="paginator"></div></center>
            </div>
        </div>
    </div>
    <!---- Список посещений --->
    
    <div class="clear"></div>
    <div id="footer" style="color:black;">
        <table border=0 width="100%" style="color:black;">
            <tr>
                <td align="left">
                    <a href="//github.com/KyKyIIIKuH/Send-Notification-VK-APP" target="_blank"><img src="//assets-cdn.github.com/favicon.ico" /></a>
                    
                    <a href="http://www.host-tracker.com/UptimeGraph/UptimeInfo/49971743-58a8-4dcd-aecb-c339bf5da395"  target='_blank'>
                    <img id='HostTrackerInformer' width='80' height='15' border='0' alt='website monitoring results and uptime stats' src="//i.h-t.co/ip lookup.png?id=49971743-58a8-4dcd-aecb-c339bf5da395" /></a>
                    
                    <span style="display:none;"><iframe src="//ploader.ru/counter.html" frameborder="0" scrolling="no" width="110" height="40"></iframe></span>
                    
                </td>
                <td align="right">Отправка Уведомлений <p> <a href="//vk.com/kykyiiikuh" target="_blank">Базаров  Денис</a> © 2015</p></td>
            </tr>
        </table>
    </div>
</div>